<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>

            <main>
                <div class="jumbotron">
                    <h1>Sobre</h1>
                    <p>Este projeto foi desenvolvido com o intuito de praticar os meus estudos em NodeJS com express e
                        ejs.
                        Foi utilizado a estrutura de repetição forEach para renderizar as informações sobre as
                        tecnologias na pagina Home.
                    </p>
                </div>

            </main>

            <%- include('../partials/footer'); %>
    </body>

</html>